@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

h1 { 
    color: skyblue;
}

form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 0 2rem 1rem;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
}
